

































<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Ficha Nueva</title>


	{% load static %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">


    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    <link rel="stylesheet" href="{% static 'vendors/iconly/bold.css' %}">

    <link rel="stylesheet" href="{% static 'vendors/perfect-scrollbar/perfect-scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/bootstrap-icons/bootstrap-icons.css' %}">

        <link rel="stylesheet" href="{% static 'vendors/choices.js/choices.min.css'  %}">

    <link rel="stylesheet" href="{% static 'css/estilo-dashboard.css' %}">
    <link href="//fonts.googleapis.com/css?family=Poppins:300,400,400i,500,600,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.11.0/toastify.css" integrity="sha512-NTgh1hAkFlHcajjT2sJdXbGYSDPf6gpORN5YqgmGqy82J79utFlYfmLulfO3uXMQX8adcPMkPGAT8H/zmaGmvA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="assets/images/favicon.svg" type="image/x-icon">
    	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <script src="{% static 'js/regioncomuna.js' %}" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.11.0/toastify.js" integrity="sha512-sEHBdwx12SnNIw4XLYlcztPfPMpDfEfw17Cl7LSXwEXQIKztb96Mx5TKizezvMtJ0rIutCzGCw7NFXnPeBWdSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>

</head>

<style>
.form-control {
    color:black;
    font-weight:bold;
    opacity:4;

}
.form-control::placeholder{
    color:black;
    opacity:0.5;
    font-weight:400;


}
</style>
<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo" >
                            <a href="{% url 'Dashboard' %}">PostRural</a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">
                        <li class="sidebar-title">Menu</li>

                        <li class="sidebar-item  ">
                            <a href="{% url 'Dashboard' %}" class='sidebar-link'>
                                <i class="bi bi-grid-fill"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>

                        {% if rol_user == "Medico" %} 

                        <li class="sidebar-item active  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="fas fa-user-injured"></i>
                                <span>Paciente</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item active ">
                                    <a href="{% url 'NuevaFicha' %}">Nueva Ficha</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="{% url 'NuevaFicha' %}">Asignar Medicamento</a>
                                </li>
                          
                            </ul>
                        </li>

                        {% elif rol_user == "Administrador" %} 


                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="fas fa-user"></i>
                                <span>Usuarios</span>
                            </a>
                            <ul class="submenu ">
                                 <li class="submenu-item ">
                                    <a href="{% url 'MostarListaUsuarios' %}">Listar Usuarios</a>
                                </li>
                                <li class="submenu-item active ">
                                    <a href="{% url 'VistaAgregarUsuario' %}">Agregar Usuario</a>
                                </li>
                          
                            </ul>
                        </li>

                     {% endif %}


                        <li class="sidebar-title">Opciones &amp; Cuenta</li>

                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-person-badge-fill"></i>
                                <span>Cuenta</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a href="form-element-input.html">Cambiar Contraseña</a>
                                </li>
                               
                                
                            </ul>
                        </li>

                        <li class="sidebar-item  ">
                            <a href="{% url 'logout' %}" class='sidebar-link'>
                                <i class="bi bi-x-circle-fill"></i>
                                <span>Cerrar sesion</span>
                            </a>
                        </li>

                       

                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
 <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            <div class="page-heading">
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-md-6 order-md-1 order-last">
                            <h3>Agregar Usuario</h3>
                            <p class="text-subtitle text-muted">Agrega Diferente tipo de usuarios</p>
                        </div>
                        <div class="col-12 col-md-6 order-md-2 order-first">
                            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Agregar Usuario</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>

                <!-- Basic Horizontal form layout section start -->
                <section id="basic-horizontal-layouts">
                    
                        <div class="col-md-8 col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Registro</h4>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                        <form class="form form-horizontal">
                                            <div class="form-body">
                                                <div class="row">
                                                 <div class="col-md-4">
                                                        <label>RUT </label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="form-group has-icon-left">
                                                            <div class="position-relative">
                                                                <input type="text" class="form-control"
                                                                    placeholder="RUT" maxlength="12" id="RUT">
                                                                <div class="form-control-icon">
                                                                    <i class="bi bi-person"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>Nombre </label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="form-group has-icon-left">
                                                            <div class="position-relative">
                                                                <input type="text" class="form-control"
                                                                    placeholder="Nombre" id="nombre">
                                                                <div class="form-control-icon">
                                                                    <i class="bi bi-person"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>Apellido </label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="form-group has-icon-left">
                                                            <div class="position-relative">
                                                                <input type="text" class="form-control"
                                                                    placeholder="Apellido" id="Apellido">
                                                                <div class="form-control-icon">
                                                                    <i class="bi bi-person"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>Email</label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="form-group has-icon-left">
                                                            <div class="position-relative">
                                                                <input type="email" class="form-control"
                                                                    placeholder="Correo" id="correo">
                                                                <div class="form-control-icon">
                                                                    <i class="bi bi-envelope"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>Celular</label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="form-group has-icon-left">
                                                            <div class="position-relative">
                                                                <input type="number" class="form-control"
                                                                    placeholder="Celular" id="celular">
                                                                <div class="form-control-icon">
                                                                    <i class="bi bi-phone"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>Tipo Usuario</label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="form-group has-icon-left">
                                                            <div class="position-relative">
                                                    <select class="col-md-8 form-control" style="padding-left:40px" id="tipoUsuario">
                                                        <option>Administrador</option>
                                                        <option>Paciente</option>
                                                        <option>Medico</option>
                                                    </select>
                                                                <div class="form-control-icon">
                                                                    <i class="bi  bi-person-badge-fill"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    
                                                    <div class="col-12 d-flex justify-content-end">
                                                        <button type="button" id="btnGuardar"
                                                            class="btn btn-primary me-1 mb-1">Guardar</button>
                                                        <button type="reset"
                                                            class="btn btn-light-secondary me-1 mb-1" id="btnVaciar">Vaciar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- // Basic Horizontal form layout section end -->

                <!-- Basic Vertical form layout section start -->
               
                <!-- // Basic Vertical form layout section end -->


                <!-- // Basic multiple Column Form section start -->
               
                <!-- // Basic multiple Column Form section end -->
            </div>

                <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>2021 &copy; Mazer</p>
                    </div>
                    <div class="float-end">
                        <p>Version 0.0.1 <span class="text-danger"></span> by <a
                                href="google.com">PostRural</a></p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="{% static 'vendors/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendors/choices.js/choices.min.js' %}"></script>

    <script src="{% static 'vendors/apexcharts/apexcharts.js' %}"></script>
    <script src="{% static 'js/pages/dashboard.js' %}"></script>

    <script src="{% static 'js/main-dashboard.js' %}"></script>

     <script>


function AlertaExito(){
	 Swal.fire(
    'Usuario Creado!',
    'el usuario se creo correctamente',
    'success'
     )
    $("#btnVaciar").click();
    $("#circuloCargando").remove();
    $("#btnGuardar").text("Guardar");


}
  function AlertaError(){
         Toastify({
        text: "Debe rellenar todos los campos",
        duration: 3000,
        close:true,
        gravity:"top",
        position: "right",
        backgroundColor: "red",
    }).showToast();

  }
    
    $( "#btnGuardar" ).click(function() {
     

   if($("#nombre").val()=="" || $("#Apellido").val()=="" || $("#correo").val()=="" || $("#celular").val()=="" ){
      
      AlertaError();

   }else{

   $("#btnGuardar").text("");
        var html='<span class="spinner-border spinner-border-sm" id="circuloCargando" role="status" aria-hidden="true"></span>  <span class="visually-visible">Cargando...</span>'
  $( this ).append(html);
   
    let data = new FormData(); // 2
    data.append("rut", $("#RUT").val());  
    data.append("nombre", $("#nombre").val());  
    data.append("apellido", $("#Apellido").val());
    data.append("celular", $("#celular").val());
    data.append("correo", $("#correo").val());
    data.append("tipousuario", $("#tipoUsuario").val());
    



    data.append("csrfmiddlewaretoken", '{{csrf_token}}'); // 3

    axios.post('crear_usuario/', data) // 4
     .then(res => AlertaExito())  // 5
     .catch(errors => console.log(errors)) // 6

    console.log(JSON.stringify(Object.fromEntries(data)));
   }
   
})
    


    </script>
